
$body-bg: #f3f6f9;
$content-section-width: 93.5%;

$top-nav-bg-color: #ffffff;

$light-blue: #8CBBF0;
$medium-blue: #5672B3;
$blue: #2E4364;
$dark-blue: #283B58;
$orange: #F5B155;
$gray: #CCCCCC;
$left-side-bar-width: 240px;

// Typography
$font-family-sans-serif: "SFCompactDisplayRegular", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Buttons
$button-background: #6b6b6b;
